:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --wrapper-width: 3rem;
    --wrapper-height: calc( var(--wrapper-width)  / 1.8 );
    --size-circle: calc(var(--wrapper-height) / 1.4);
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

h3 {
    font-weight: 400;
    color: var(--Marine-blue);
}
main h3 {
    font-weight: 700;
}

h2 {
    color: var(--Marine-blue);
    font-size: 2rem;
    padding-top: 3rem;
}

p {
    color: var(--Cool-gray);
}

.goBack {
    position: absolute;
    padding: 1rem 0;
    font-weight: 700;
    left: 0;
    bottom: 0;
}
.goBack p {
    cursor: pointer;
    overflow: hidden;
}
.goBack p::after{
    content: "";
    display: block;
    width: 100%;
    transform: translateX(-100%);
    border-bottom: 2px solid;
    transition: .4s;
}
.goBack p:hover::after{
    transform: translateX(0);

}
