:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --btn-toggle-width: 5rem;
    --btn-toggle-height: calc( var(--btn-toggle-width) * 0.5 );
    --btn-toggle-size-circle: calc( var(--btn-toggle-height) * 0.7 )
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

h3 {
    font-weight: 400;
}
h2 {
    font-size: 2rem;
    padding-top: 3rem;
}

p {
    color: var(--Cool-gray);
}